<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Vendor Marketplace</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Top Navigation Bar -->
    <div class="topnav">
        <h1>Wedding Vendor Marketplace</h1>
    </div>

    <!-- Hero Image Section -->
    <div class="hero-image">
        <img src="static/images/pexels-panditwiguna-2788494.jpg" alt="Wedding" class="header-image">
    </div>

    <!-- Search Section -->
    <div class="search-container">
        <div class="search-bar">
            <form>
                <select name="country">
                    <option value="" disabled selected>Select a Country</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                    <option value="IT">Italy</option>
                    <option value="ES">Spain</option>
                    <option value="TR">Türkiye</option>
                    <!-- Add more countries -->
                </select>

                <select name="service">
                    <option value="" disabled selected>Select a Service Type</option>
                    <option value="photographer">Photographer</option>
                    <option value="location">Location</option>
                    <option value="wedding-planner">Wedding Planner</option>
                    <!-- Add more services -->
                </select>

                <input type="text" name="search" placeholder="Search for services... ">

                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <!-- Bottom Navigation Bar -->
    <div class="bottomnav">
        <!-- <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy Policy</a> -->
        <a href="/">Home</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </div>
</body>
</html>
